doctype html
html
  head
    title Hometown Bakery

  body
    h1 Hometown Bakery
    block nav



//- A home page that displays the bakery's name, a picture and a short bio.

//- An about page with a bio of yourself and the company's slogan.

//- An inventory page which would list the most popular pastries along with their prices.

//- A simple nav bar which does not display a link to the current page, but only the pages not being viewed.
