doctype html
html
  head
    title Hometown Bakery
    include stylesheets.pug

  body
    include nav
    img.bakery(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvzFZRY0Re01sNb0G2yldnAP3P3gEhe9ExGjNwIjWvXfQbs81P")

    div.content
      block content
