//- Navbar

ul.navbar
  li
    a(href="/")
      h1 Hometown Bakery
  li
    a(href="/about" class={'hide-nav-link': page === 'about'}) About
  li
    a(href="/inventory" class={'hide-nav-link': page === 'inventory'}) Inventory
